:root {
	--black-color : rgb(18,18,18);
	--white-white : rgb(255,255,255);
	--gray-color : rgb(222, 222, 222);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.conteiner {
	max-width: 1200px;
	margin: 0 auto;
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--black-color);
	
	padding: 35px;
}